.Persona {
  width: 50vmin;
  height: 50vmin;
  position: relative;
}

.Persona__icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
  transition: opacity 5s linear;
  fill: currentColor;
}

.Persona--preWakeUp .Persona__icon--preWakeUp{
  opacity: 1;
}
.Persona--wakeUp .Persona__icon--wakeUp{
  opacity: 1;
}
.Persona--sleep .Persona__icon--sleep{
  opacity: 1;
}
