.App {
  text-align: center;
  background-color: #282c34;
  position: relative;
  min-height: 100vh;
}

/* https://webgradients.com/ */
.App--sleep {
  background-image: linear-gradient(120deg, rgb(50, 0, 0) 0%, black 100%);
}

.App:before,
.App:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 5s linear;
}

.App--preWakeUp:before {
  opacity: 1;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.App--wakeUp:after {
  opacity: 1;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.App-header {
  /* background-color: #282c34; */
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgba(214, 0, 0, 0.5);
  z-index: 1;
}

.App--wakeUp .App-header,
.App--preWakeUp .App-header {
  color: white;
}

@media screen and (orientation: portrait) {
  .App-header {
    flex-direction: column;
  }
}
