.Clock {
  width: 40vmin;
  height: 40vmin;
  /* border-radius: 100%;
  border: 5px solid currentColor;
  border-width: 1vmin; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Clock__icon {
  position: absolute;
  width: 100%;
  height: 100%;

  transform: rotate(-90deg);
}

.Clock__circle {
  fill: transparent;
  stroke: currentColor;
  stroke-width: 0.2vmin;
  stroke-dasharray: 360;
  transition: stroke-dashoffset 1s linear;
}

.Clock__digit {
  font-weight: bold;
  font-size: 30px;
  font-size: 10vmin;
}
